absl-py==0.11.0
addict==2.4.0
affine==2.3.0
aiohttp==3.7.4.post0
albumentations==1.1.0
Ale==0.8.4
ale-py==0.7.2
antlr4-python3-runtime==4.8
anyio==3.1.0
appdirs==1.4.4
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atari-py==0.2.9
attrs==20.3.0
Babel==2.9.1
backcall==0.2.0
biopython==1.77
black==21.4b2
bleach==3.2.1
boto3==1.17.50
botocore==1.20.50
cachetools==4.2.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==1.6.0
ConfigArgParse==1.4.1
cycler==0.10.0
Cython==0.29.24
dataclasses==0.6
decorator==4.4.2
defusedxml==0.6.0
deprecation==2.1.0
diffdist==0.1
entrypoints==0.3
et-xmlfile==1.0.1
ffmpeg==1.4
filelock==3.0.12
Fiona==1.8.20
flatbuffers==1.12
fsspec==2021.10.1
ftfy==5.1
future==0.18.2
fvcore==0.1.5.post20210923
gast==0.3.3
grpcio==1.34.0
gym==0.18.0
h5py==2.10.0
hydra-core==1.1.1
idna==2.9
imagecodecs==2021.8.26
importlib-resources==5.2.2
iopath==0.1.9
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-packaging==0.10.2
jupyter-server==1.8.0
jupyterlab==3.0.14
jupyterlab-pygments==0.1.2
jupyterlab-server==2.6.0
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
linformer==0.2.1
lmdb==1.2.1
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
mmcv==1.3.7
mmcv-full==1.3.5
multidict==5.2.0
munch==2.5.0
mypy-extensions==0.4.3
nbclassic==0.3.1
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
nglview==3.0.3
notebook==6.1.5
numpy==1.19.4
oauthlib==3.1.0
omegaconf==2.1.1
opencv-python
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==20.8
pandas==1.2.3
pandocfilters==1.4.3
parso==0.7.1
pathspec==0.9.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
portalocker==2.3.2
pretrainedmodels==0.7.4
prettytable==2.1.0
progressbar2==3.55.0
prometheus-client==0.9.0
prompt-toolkit==3.0.8
protobuf==3.15.8
psutil==5.8.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycosat==0.6.3
pycparser==2.20
pyDeprecate==0.3.1
pydot==1.4.2
pygame==2.0.1
pyglet==1.5.0
Pygments==2.7.3
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyprof==0.0.4
pyproj==3.2.1
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
python-utils==2.5.6
pytorch-lightning==1.4.9
pytz==2021.3
PyWavelets==1.1.1
pyzmq==20.0.0
qudida==0.0.4
rasterio==1.2.10
regex==2021.11.10
requests==2.23.0
requests-oauthlib==1.3.0
resnet==0.1
Rtree==0.9.7
ruamel-yaml==0.15.87
s3transfer==0.3.6
sacremoses==0.0.44
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
sentencepiece==0.1.95
Shapely==1.8.0
SimpleITK==2.1.0
six==1.14.0
slidingwindow==0.0.14
sniffio==1.2.0
snuggs==1.4.7
tabulate==0.8.9
tape-proteins==0.4
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
thop==0.0.31.post2005241907
tifffile==2021.4.8
toml==0.10.2
tomlkit==0.7.2
torch==1.7.1+cu101
torchaudio==0.7.2
torchmetrics==0.6.0
torchvision==0.8.2+cu101
tornado==6.1
tqdm==4.30.0
traitlets==5.0.5
transformers==2.4.1
typing-extensions==3.7.4.3
urllib3==1.25.8
vit-pytorch==0.16.12
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.1.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xmltodict==0.12.0
yacs==0.1.8
yapf==0.31.0
yarl==1.7.0
zipp==3.6.0
